[Desktop Entry]
Name=BeSot

X-KDE-PluginInfo-Name=BeSot
X-KDE-PluginInfo-Author=Mark Whittaker
X-KDE-PluginInfo-Email=phobian@tutanota.com
X-KDE-PluginInfo-License=CC BY-SA
